{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="{% static "static/jquery-3.3.1.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "static/css/styles.css" %}">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Кудринка</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
{#                <li class="nav-item active">#}
{#                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>#}
{#                </li>#}
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Мы танцуем
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="">Русский фольклор</a>
                        <a class="dropdown-item" href="">Танцы народов мира</a>

                        <a class="dropdown-item" href="">Модерн</a>

                        <a class="dropdown-item" href="">Степ</a>


                        {#                        <a class="dropdown-item" href="#">Another action</a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/concerts/">Наши выступления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/choreographers/">Хореографы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us/">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Вход</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Вы вошли как: {{ user.username }}​</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Выйти</a>
                    </li>
                    {% if user.is_superuser %}
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/">Админка</a>
                    </li>
                    {% endif %}

                    {% if participant.user == user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/my_page_participant/">Моя страница <span class="sr-only">(current)</span></a>
                        </li>

                    {% endif %}
                    {% if choreographer.user == user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/my_page_choreographer/">Моя страница <span
                                    class="sr-only">(current)</span></a>
                        </li>

                    {% endif %}


                {% endif %}
            </ul>
            {#    <form class="form-inline my-2 my-lg-0">#}
            {#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
            {#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
            {#    </form>#}
        </div>
    </nav>

    {% block userlog %}{% endblock %}
</header>
<body>
<script src="{% static "static/jquery-3.3.1.js" %}"></script>
{% block content %}{% endblock %}
</body>
</html>
