{% extends "index.html" %}
{% block content %}
{% load static %}
<div class="dance_style" data-id="{{ dance_style.id }}">
    <div class="dance_style_title">
        <h3 class="dance_style_name">{{ dance_style.dance_style }}</h3>
        {% if dance_style.picture %}
            <img class="dance_style_picture" src="{{ dance_style.picture.url }}" width="50%" height="50%">
        {% endif %}
        <span class="dance_style_description">{{ dance_style.description }}</span>
       </div>
</div>
{% endblock %}