{% extends "old/show.html" %}
{% block title %}Участники{% endblock %}
{% block name %}Участники{% endblock %}
{% block elements %}
    {% for p in participants %}
        {% include "old/show_participant.html" with participant=p %}
        {% for g in groups %}
            {% if g.id == p.group.id %}
                {{ g.name }}
            {% endif %}
        {% endfor %}
        <p></p>
        <a href="{{ g.get_absolute_url }}" class="btn btn-light">Read</a>
    {% endfor %}
    <form action="/new_participant/">
        <button type="submit">new_participant</button>
    </form>
{% endblock %}
