{#{% extends "show.html" %}#}
{#{% block title %}Группы{% endblock %}#}
{#{% block name %}Группы и участники{% endblock %}#}
{% block elements %}
    {% for g in groups %}
        {% include "old/show_group.html" with group=g %}

        <h5 class="ml-5">Участники:</h5>
        <div class="container ml-5">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7">Развернуть
            </button>
            <div id="demo7" class="collapse">
                {% for p in participants %}
                    {% if g.id == p.group.id %}
                        {% include "old/show_participant.html" with participant=p %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'new_group' %}"
       class="button colored">Добавить группу</a>
    <a href="{% url 'new_participant' %}"
       class="button colored">Добавить участника</a>

{% endblock %}

