{#{% extends "show.html" %}#}
{#{% block title %}Элементы костюмов{% endblock %}#}
{#{% block name %}<h4>Элементы костюмов</h4>{% endblock %}#}
{% block elements %}
    <table class="table table-hover">
        <thead class="thead-dark">

        <tr>
            <th></th>
            {% for c in costumes %}
                <th scope="col" class="table_col">
                    {{ c.name }}-{{ c.dance.name }}
                    <a class="but" href="{% url 'update_costume' slug=c.slug %}"
                       target="_blank"><i
                            class="fa fa-pencil"></i></a>
                    <a class="but" href="{% url 'delete_costume' slug=c.slug %}"
                       target="_blank"><i
                            class="fa fa-trash"></i></a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for pc in participant_costumes %}
            {% for p in participants %}
                <tr>
                    {% if pc.participant == p %}
                        <th>{{ p.last_name }} {{ p.initials }}</th>
                        {% for pc1 in participant_costumes %}
                            {% if pc == pc1 and pc1.participant == p %}
                                {% for c in costumes %}
                                    <td>
                                        {% if pc1.costume == c %}
                                            <a class="butred" href="{% url 'update_participant_costume' slug=pc1.slug %}"
                                                   target="_blank"><i
                                                        class="butred fa fa-pencil"></i></a>
                                                <a href="{% url 'delete_participant_costume' slug=pc1.slug %}"
                                                   target="_blank"><i
                                                        class="butred fa fa-trash"></i></a>
                                            {% if pc1.costume and pc1.returned == False %}
                                                {{ pc1.date_return_before }}

                                                {% endif %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
        <p></p>
        </tbody>
    </table>
    <p><a href="{% url 'new_costume' %}"
          class="button colored">Добавить элемент костюма</a>
    <a href="{% url 'new_participant_costume' %}"
          class="button colored">Добавить участник-элемент костюма</a>

    </p>

{% endblock %}
