{% load static %}
<div class="class_schedule" data-id="{{ class_schedule.id }}">
    <div class="class_schedule_title">

        <span class="class_schedule_name">{{class_schedule.begin_time }} - {{ class_schedule.end_time }}</span>
        <span class="class_schedule_address">{{ class_schedule.address }}</span>
        <span class="class_schedule_description">{{ class_schedule.description }}</span>
        <a href="{% url 'update_class_schedule' slug=class_schedule.slug %}" class="btn btn-light">Upd</a>

        <a href="{% url 'delete_class_schedule' slug=class_schedule.slug %}" class="btn btn-light">Del</a>

    </div>
</div>

