{% extends "old/show.html" %}
{% block title %}Концерты{% endblock %}
{% block name %}Концерты и номера{% endblock %}
{% block elements %}
    <h3>Предстоящие</h3>
    {% for c in concerts %}
        {% if c.begin_date >= today %}

            {% include "old/show_concert.html" with concert=c %}
            <div class="ml-5">
                <h3 class="text-secondary">Номера:</h3>
                {% for d_c in dances_in_concert %}
                    {% for d in dances %}
                        {% if c.id == d_c.concert.id and d.id == d_c.dance.id %}
                            <div>
                                {{ d_c.num }}.{% include "old/show_dance.html" with dance=d num=d_c.num %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {#        <a href="{{ c.get_absolute_url }}" class="btn btn-light">Read</a>#}
    {% endfor %}
    _________________________________________________________________________________
      <h3>Прошедшие</h3>
    {% for c in concerts %}
        {% if c.begin_date < today %}

           {% include "old/show_concert.html" with concert=c %}
            <div class="ml-5">
                <h3 class="text-secondary">Номера:</h3>
                {% for d_c in dances_in_concert %}
                    {% for d in dances %}
                        {% if c.id == d_c.concert.id and d.id == d_c.dance.id %}
                            <div>
                                {{ d_c.num }}.{% include "old/show_dance.html" with dance=d num=d_c.num %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {#        <a href="{{ c.get_absolute_url }}" class="btn btn-light">Read</a>#}
    {% endfor %}

    <a href='/new_concert/' class="btn btn-dark">Новый концерт</a>
    <a href='/new_dance_in_concert/' class="btn btn-dark">Добавить танец в концерт</a>


{% endblock %}
