{% block name %}<h3>Сдать костюмы</h3>{% endblock %}
{% block elements %}
    {% for c in costumes %}
        {% for pc in participant_costumes %}
            {% if c == pc.costume %}
                <h5>{{ c.dance.name }}</h5>
                <p>{{ c.name }} {% if pc.date_return_before %}до {{ pc.date_return_before }}{% endif %}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <form action="/new_costume/">
        <button type="submit">new_costume</button>
    </form>
{% endblock %}
