{% extends 'delete.html' %}
{% block action %}action="{% url 'delete_news' slug=obj.slug %}"{% endblock %}
{% block areyousure %} новость {{ obj.title|title }}
{% endblock %}
{% block buttons %}
                                    <input style="text-align:center"
                                           class="button colored" type="button"
                                           value="Назад" onClick='location.href="/"'>
                                    <button style="height:36px;text-align:center;"
                                            class="center-block button colored control-label"
                                            type="submit">Удалить
                                    </button>
    {% endblock %}

{##}
{#{% extends "index.html" %}#}
{#{% block title %}Удалить новость  "{{ obj.title|title }}" - {{ block.super }}{% endblock %}#}
{#{% block content %}#}
{#    <div class="jumbotron">#}
{#        <div class="container">#}
{#            <div class="page-header">#}
{#                <h3>Удаление новости "{{ obj.title|title }}" </h3>#}
{#            </div>#}
{#            <form action="{% url 'delete_news' slug=obj.slug %}" method="POST">#}
{#                {% csrf_token %}#}
{#                <h3> Вы уверены, что хотите удалить новость <b>"{{ obj.title|title }}"</b>?</h3>#}
{#                <a href="{% url 'main_page' %}">Отменить</a>#}
{#                <button type="submit" class="btn btn-default btn-lg btn-block">Изменить</button>#}
{##}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
