{% extends 'delete.html' %}
{% block action %}action="{% url 'delete_fond' slug=obj.slug %}"{% endblock %}
{% block areyousure %} оплату фонда {{ obj.participant|title }}-{{ obj.sum|title }}
{% endblock %}


{##}
{##}
{#{% extends "index.html" %}#}
{#{% block title %}Удалить оплату фонда  "{{ obj.participant|title }} - {{ obj.sum|title }}" -#}
{#    {{ block.super }}{% endblock %}#}
{#{% block content %}#}
{#    <div class="jumbotron">#}
{#        <div class="container">#}
{#            <div class="page-header">#}
{#                <h3>Удаление оплаты фонда "{{ obj.participant|title }} - {{ obj.sum|title }}" </h3>#}
{#            </div>#}
{#            <form action="{% url 'delete_fond' slug=obj.slug %}" method="POST">#}
{#                {% csrf_token %}#}
{#                <h3> Вы уверены, что хотите удалить#}
{#                    <b>"{{ obj.participant|title }} - {{ obj.sum|title }}"</b>?</h3>#}
{#                <a href="{% url 'my_page_choreographer' %}">Отменить</a>#}
{#                <button type="submit" class="btn btn-default btn-lg btn-block">Удалить</button>#}
{##}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
