/*------------------------------------------------------------------
[Master Stylesheet]


[Table of contents]

Grid post
main post
Comment Form
Author form
--------------------
6. Blog post entry
Comments
--------------------
 Related Articles
 Menu Search box
latest comments iten

Sidebar widget articles style 1
tag-cloud


1. General
2. Header
3. Navigation / #Bootstrap navbar
3.1. Top Bar
3.2. Main Menu
4. Slider
5. Main content
6. Post item
7. Sidebar
8. Footer
9. Buttons

[Color codes]

Background:	#e9eaed (container background)
Footer:		#141414 (black)

modules:
Background:	  #ffffff (background inside modules)

Social icons, Tags, etc. backgorund: #5f9ea0 (green)

Titles color:	#343434 (dark gray)
hover color:	#BF382B (red)
-------------------------------------------------------------------*/

/*--------------------
Import Google Fonts
--------------------*/
/* Grid-post style
---------------------------------- */
/*.grid-post {*/
	/*background: #fff;*/
	/*margin-bottom: 40px;*/
/*}*/

/*.grid-post h3.title {*/
    /*margin: 0px;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-size: 20px;*/
    /*font-weight: 900;*/
    /*line-height: 1.6;*/
    /*color: #000000;*/
    /*padding: 20px 0;*/
/*}*/
/*.grid-post p {*/
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-size: 14px;*/
    /*font-weight: 400;*/
	/*line-height: 1.5;*/
	/*color: #4A4848;*/
/*}*/

/*.grid-post .post-meta {*/
/*font-family: 'Open Sans', sans-serif;*/
  /*font-size: 10px;*/
  /*font-weight: 500;*/
  /*padding: 8px 0px;*/
  /*margin: 0px 25px;*/
  /*text-align: center;*/
  /*text-transform: uppercase;*/
  /*letter-spacing: 1.3px;*/
  /*color: #6C7698;*/
  /*border-bottom: 1px dotted #8C8C8C;*/
/*}*/

/*.grid-post .post-meta a {*/
    /*letter-spacing: 0.3px;*/
/*}*/

/*.grid-post .post-meta-publ-date {*/
    /*padding-right: 20px;*/
/*}*/
/*.grid-post .post-meta-author {*/
    /*padding-right: 20px;*/
/*}*/

/*.grid-post .post-meta-author a {*/
    /*font-weight: 600;*/
/*}*/

/*.grid-post-body {*/
    /*padding: 0px 25px 10px;*/
    /*background-color: #fff;*/
    /*overflow: hidden;*/
/*}*/

/*.grid-post-container {*/
    /*background: #3498db;*/
    /*position: relative;*/
/*}*/
/*.grid-post-container img {*/
	/*opacity: 0.95;*/
	/*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/
	/*transition: opacity 0.35s, transform 0.35s;*/
/*}*/
/*.grid-post-container:hover img {*/
	/*opacity: 0.6;*/
/*}*/

/*.grid-post .more-button {*/
    /*text-align:center;*/
    /*display:block*/
/*}*/

/*.grid-post .read-more-button {*/
    /*border: 1px solid #ADADAD;*/
    /*color: #ADADAD;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 1.8px;*/
    /*font-size: 11px;*/
    /*padding: 7px 20px 7px;*/
    /*display:inline-block;*/
    /*font-family:"Open Sans",sans-serif;*/
    /*-o-transition:.3s;*/
    /*-ms-transition:.3s;*/
    /*-moz-transition:.3s;*/
    /*-webkit-transition:.3s*/
/*}*/
/*.grid-post .read-more-button:hover{*/
    /*background:#B43F42;*/
    /*color:#fff;*/
    /*border:1px solid;*/
    /*border-color:#B43F42;*/
/*}*/

/*.grid-post-container .post-cats {*/
  /*position: absolute;*/
  /*top: -12px;*/
  /*left: 7px;*/
/*}*/
/*.grid-post-container .post-cats a {*/
  /*padding: 4px 13px;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-size: 11px;*/
  /*color: #fff;*/
  /*text-transform: uppercase;*/
  /*margin-left: 11px;*/
  /*border: 3px solid #EEEFF1;*/
  /*background-color: #5F9EA0*/
/*}*/

/*.grid-post-container .post-cats a:hover {*/
  /*cursor: pointer;*/
    /*background-color: #000;*/
    /*color: #fff;*/
	/*-webkit-transition: all 0.3s ease-in-out;*/
	/*-moz-transition: all 0.3s ease-in-out;*/
	/*-o-transition: all 0.3s ease-in-out;*/
	/*-ms-transition: all 0.3s ease-in-out;*/
	/*transition: all 0.3s ease-in-out;*/
/*}*/





/*-- Comment form --*/
.comment-form-body {
    padding: 20px 20px;
    background: #FFFFFF;
    overflow: hidden;
    margin-bottom: 50px;
}

.comment-form label {
    display: none;
}

.comment-form input[type="text"],
.comment-form textarea {
    text-transform: none;
    font-family: 'Raleway', serif;
    color: #ABB7DB;
    border: 1px solid #ADADAD;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}

.comment-form textarea {
    width: 100%;
    max-width: 100%;
}

.comment-form .submit-button {
    border: 1px solid #ADADAD;
    border-radius: 90px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 13px;
    padding: 10px 25px 10px;
    display:inline-block;
    font-family:"Open Sans",sans-serif;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    margin: 0 auto;
    display: block;
}
.comment-form .submit-button:hover{
    background:#B43F42;
    color:#fff;
    border:1px solid;
    border-color:#B43F42;
}

/* Author
---------------------------------- */
.author {
	background: #fff;
	margin-bottom: 30px;
	border-bottom: 1px solid #E3E3E3;
    overflow:hidden;
}

.author-image {
	float:left;
	max-width:200px;
	margin-right:20px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .author-image {
        width: 100%;
  	    float: none;
    }
}

.author-image {
    background: #3498db;
	vertical-align:middle;
    position: relative;
    overflow:hidden;
}

.author-image img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
.author-image:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.author-text-body {
	padding:18px;
	overflow:hidden;
}

.author-text-body h3 {
	text-align:left;
	padding:0;
	margin-bottom:8px;
	margin-top: 10px;
}

.author-text-body h3 a {
	margin-top: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
    font-weight: 900;
	line-height: 1.3;
	color: #000000;
}

.author-text-body h3 a:hover {
	color: #BF382B;
}

.author-text-body h3 span {
	font-size: 11px;
    font-weight: 500;
	color: #A6A6A6;
    padding-left: 10px;
}

.author p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
    font-weight: 400;
	line-height: 1.5;
	color: #000000;
    padding-top: 10px;
}

/** Social Icons **/
.author-social {
    text-align:left;
}

.author-social a:first-child {
    margin-left:0;
    padding-left:0;
}
.author-social a:last-child {
    margin-right:0;
}

.author-social a i {
    height:28px;
    width:28px;
    text-align:center;
    line-height:27px;
    color: #D7D7D7;
    border: 1px solid #D7D7D7;
    border-radius: 50%;
    margin:0 2px 6px 0;
    font-size:14px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
}

.author-social a:hover > i {
    background: #B43F42;
    border: 1px solid #B43F42;
    border-radius: 50%;
    color: #fff;
}





/*--------------------
6. Blog post entry
--------------------*/

.post-entry {
	padding: 0px 35px 25px 35px;
    background-color: #fff;
    overflow: hidden;
}

.post-entry p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    font-weight: 400;
	line-height: 1.8;
    letter-spacing: 0px;
    word-spacing: 2px;
	color: #000000;
    padding-top: 10px;
}

.post-entry h1.title {
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
    font-weight: 600;
	line-height: 1.5;
	color: #000000;
}

.post-entry blockquote {
    border-left: 3px solid #ABB7DB;
	padding: 1.5rem 0 1.5rem 2rem;
	margin: 0 0 1.5rem 0;
}
.post-entry blockquote p {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #8F8F8F;
	font-style: italic;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/*-- Comments --*/
.comments {
    padding: 30px;
    background: #fff;
    margin-bottom: 50px;
}

.comment-list,
.comment-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.comment-list li {
    position: relative;
    float: left;
    margin-top: 20px;
    padding: 20px 0 0 75px;
    border-top: 1px solid #eaeaea;
}

.comment-list > li:first-child {
    margin: 0;
    border: 0;
    padding-top: 5px;
}

.comment-author img {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    left: 0;
}

.comment-author-name {
    display: inline-block;
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: 600;
    color: #363636;
}

.comment-meta {
    display: block;
	font-size: 10px;
    font-weight: 500;
	text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #b6b6b6;
}

.comment-body {
    margin-top: 10px;
}

.comment-body p {
    margin: 0;
    font-size: 14px;
    color: #303030;
}

.comment-reply {
    display: block;
	font-size: 10px;
    margin-top: 10px;
    font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 1.3px;
}

.comment-reply:hover {
    color: #BF382B;
}


/*!* Related Articles*/
/*---------------------------------- *!*/
/*.related-article {*/
	/*cursor: pointer;*/
	/*background: #fff;*/
	/*margin-bottom: 20px;*/
	/*border-bottom: 1px solid #E3E3E3;*/
/*}*/

/*.related-article h3.title {*/
	/*margin-top: 0;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*font-size: 13px;*/
    /*font-weight: 500;*/
	/*line-height: 1.7;*/
	/*color: #000000;*/
/*}*/

/*.related-article-body {*/
	/*padding: 15px 15px 5px;*/
    /*background-color: #fff;*/
    /*overflow: hidden;*/
/*}*/

/*.related-article-container {*/
    /*overflow: hidden;*/
    /*background: #3498db;*/
/*}*/
/*.related-article-container img {*/
	/*opacity: 0.95;*/
	/*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/
	/*transition: opacity 0.35s, transform 0.35s;*/
	/*-webkit-transform: scale3d(1.05,1.05,1);*/
	/*transform: scale3d(1.05,1.05,1);*/
/*}*/
/*.related-article-container:hover img {*/
	/*opacity: 0.6;*/
	/*-webkit-transform: scale3d(1,1,1);*/
	/*transform: scale3d(1,1,1);*/

/*}*/



/*--------------------
Menu Search Box
--------------------*/

.dropdown-menu.searchbox {
    position: absolute;
    left: auto;
    text-align: center;
    margin: auto;
}

.navbar-form {
    padding: 5px 25px;
    border: none;
    width: 250px;
}

.navbar-form.search .form-control {
	height: 35px;
    background: #fff;
    color: #666666;
    font-size: 11px;
}

.navbar-form.search .btn-submit {
	width: 35px;
	height: 35px;
    border: none;
    background: #A8BEE3;
}

.navbar-form.search .btn-submit:hover {
    background: #658BCD;
}

/* Latest Comments Item
---------------------------------- */
.lcomments-item {
    margin: 0 0 10px 0;
    border-bottom: dotted 1px #D9D9D9;
    padding-bottom: 10px;
    color: #B3B8BD;
}

.lcomments-item:last-child {
    margin: 0 0 10px 0;
    border-bottom: none;
    padding-bottom: 0px;
}

.lcomments-item a {
    color: #565673;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
	line-height: 1.7;
    letter-spacing: 0.3px;
    margin-top: 0;
}

.lcomments-item a:hover {
    color: #BF382B;
}



/* Sidebar widget articles style 1
---------------------------------- */
.widget-post {
    position: relative;
    margin: 0 0 20px 0;
    border-bottom: dotted 1px #D9D9D9;
    padding-bottom: 20px;
}
.widget-post:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin: 0;
}
.widget-post {
    display: table;
}
.widget-post-image {
    float: left;
    width: 75px;
    height: auto;
    margin: 0 20px 0 0;
}
.widget-post-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 45px;
    height: 45px;
    padding: 9px;
    float: left;
    margin: 0 20px 0 0;
    background: #5f9ea0;
    /* border: 2px solid #666; */
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.widget-post-entry {
    display: table-cell;
    vertical-align: top;
}
.widget-post-title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color: #545452;
    /* text-transform: uppercase; */
}
.widget-post-title a {
    color: #565673;
}
.widget-post-title a:hover {
    color: #BF382B;
}
.widget-post-meta {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #BCBCC2;
    padding-top: 5px;
}
.widget-post-meta i {
	padding: 0 3px 0 0;
}
.widget-post-meta .widget-post-comments {
	padding-left: 10px;
}


/*.sidebar-module .tag-cloud {*/
	/*padding: 0px;*/
/*}*/

/*.tag-cloud a {*/
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-size: 11px;*/
    /*font-weight: 500;*/
	/*color: #fff;*/
    /*background: #5f9ea0;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 90px;*/
    /*padding: 6px 10px;*/
/*!*	margin: 0 3px; *!*/
	/*line-height:37px;*/
	/*text-transform: uppercase;*/
/*}*/

.tag-cloud a:hover {
    opacity: 0.7;
}