{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">

                        <h1>О НАС</h1>
                        <div class="row">

                            <div class="col-md-8">
                                <p class="ul1"><span class="font-weight-bold">Лауреат и обладатель Гран-При Всероссийских и Международных фестивалей и конкурсовАнсамбль танца "Кудринка"</span>
                                    приглашает:</p>
                                <ul>
                                    <li>мальчиков и девочек с 5 лет,</li>
                                    <li>а так же юношей и девушек (с хореографической подготовкой)
                                        в группы ансамбля на занятия.
                                    </li>
                                </ul>

                                <p><span class="font-weight-bold"> В репертуаре ансамбля:</span></p>

                                <ul>
                                    <li>русские народные танцы</li>
                                    <li>белорусские, украинские, молдавские танцы и т.д.</li>
                                    <li>мексиканские и испанские танцы</li>
                                    <li>степ</li>
                                    <li>различные направления современного танца</li>
                                    <li>детские танцы</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img src="{% static "static/media/media/default/photo/Табакеряска1.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>
                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/Казачий_дев2.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>

                            <div class="col-md-6">

                                <p>
                                    <span class="font-weight-bold">Ансамбль народного танца был основан в 1974 г. В.В.
                                        Матвеевым.</span>
                                    С 1990 г. руководителями танцевального коллектива являются его ученики: Ирина и
                                    Алексей Сальниковы.
                                    Изначально в ансамбле "Кудринка" работали только взрослые группы. С 1994 г. в
                                    составе коллектива начали работать и детские группы.
                                    На данный момент коллектив насчитывает <span
                                        class="font-weight-bold">более 70 человек.</span>
                                </p>
                                <p>
                                    В репертуаре ансамбля <span class="font-weight-bold">танцы народов мира</span>:
                                    русские, украинские, молдавские, белорусские, венгерские, румынские, цыганские,
                                    литовские, испанские, мексиканские и т.д.,
                                    а также <span class="font-weight-bold">танцы в современных стилях:</span>
                                    степ, народная стилизация, джаз, модерн и другие направления современной
                                    пластики...
                                </p>


                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">

                            <div class="col-md-6">
                                <p>
                                    На основе имеющегося репертуара ансамблем танца "Кудринка" были подготовлены и
                                    показаны программы: <span class="font-weight-bold">"Украденная весна", "Бабушкины рассказки" и др., на основе
                                    испанских танцев - программа "Все это - Испания!"; мексиканский моноспектакль
                                    "Сладкий сон или ай-ай-ай, кампания!"</span>.
                                </p>
                                <p>
                                    В коллективе занимаются очень творческие дети. Примером этому служат их
                                    самостоятельные миниспектакли:<span class="font-weight-bold"> "В некотором царстве...", "Сказки Шахразады",
                                    "Музей ансамбля танца `Кудринка`", а сценарий "Сказка о царевне Несмеяне"</span> был
                                    напечатан в <span
                                        class="font-weight-bold">журнале "Народное творчество" (№ 6 за 2001 г.)</span>.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/Цыганский2.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                          <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-4">
                                <img src="{% static "static/media/media/default/photo/Смуглянка1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>

                            <div class="col-md-8">
                                <p>
                                    К 25-летию ансамбля были напечатаны статьи о работе коллектива, интервью с ее
                                    руководителями в газете "Метростроевец", журналах "Клуб" (№ 6 за 2001 г.) и
                                    "Народное творчество" (№ 1 и № 2 за 2002 г.).

                                    За время своего существования ансамбль танца "Кудринка" принимал активное
                                    участие во многих концертных программах на площадках г. Москвы, Московской
                                    области; на различных фестивалях и конкурсах.
В течение последних десяти лет коллектив участвовал во всех значительных
                                    событиях города и страны:
                                    <span class="font-weight-bold">50 и 55 лет Победы в Великой Отечественной войне, 850-летие г. Москвы, 60-летие
                        ВДНХ, 200-летие со дня рождения А.С. Пушкина, культурная программа Первых
                        Всемирных юношеских Игр, 60-летие битвы под Москвой, культурная программа Первых
                        Международных спортивных юношеских Игр стран СНГ, Балтии и регионов России,
                            70-летие Московского Метростроя</span> и т.д.

                                </p>

                            </div>
                        </div>
                          <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

  <div class="row">

      <div class="col-md-4">
                        <p>

                        </p>
                        <p>

                            Наш танцевальный ансамбль приглашают на центральные площадки г. Москвы: <span
                                class="font-weight-bold">Театр
                        Российской Армии, МХАТ, Концертный зал им. П.И. Чайковского, Концертный зал
                            "Россия", Кремлевский Дворец</span> и т.д.
                            Помимо этого, Кудринка регулярно даёт собственные двухчасовые концерты.
                        </p>
            <p>
                            Репертуар ансамбля постоянно пополняется новыми номерами. Коллектив не
                            останавливается на достигнутом, постоянно ставит перед собой новые и новые цели,
                            осваивает новый материал. В марте 2019 годя "Кудринка" отпразднует своё
                            45-летие.
                        </p>
      </div>

                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/Тилиго_лиго1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
      </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

  <div class="row">
      <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/Зеркало2.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
      <div class="col-md-6">
                        <p>
                            Танцевальный коллектив "Кудринка" является активным участником российских и
                            международных фестивалей и конкурсов: <span class="font-weight-bold">фестиваля "Город Мастеров", дипломантом
                        второго Международного фестиваля художественного творчества народов СНГ
                            (1997г.)</span>, имеет диплом третьей степени <span class="font-weight-bold">VI Международного конкурса-фестиваля
                            "Рождественские каникулы" (1997г.)</span>, является <span
                                class="font-weight-bold">лауреатом</span> фестиваля "Наш Пушкин"
                            (1999г.), имеет дипломы Международного фестиваля "Планета Детства". А также стал
                            лауреатом и дипломантом фестивалей: <span class="font-weight-bold">"Золотое Кольцо", "В мире танца", "Любимый
                            город"</span>...
                            Ансамбль дважды выезжал на гастроли в Америку (2007 и 2008г.). Является
                            победителем фестиваля "Cathy Roe Ultimate Dance Competition" (USA, Ohaio,
                            Cincinnati).
                        </p>
      </div>

  </div>

 <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <h3>
                            Ансамбль танца "Кудринка"
                            бережно хранит основы национальной танцевальной культуры
                            и знакомит своих зрителей
                            с различными направлениями современной хореографии.
                        </h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

