{% extends 'index.html' %}
{% load static %}
{#{% load staticfiles %}#}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">

                        <h1>Детские танцы</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <p style="margin-top: 15px">
                                    Для крохи танец - прекрасный способ открытия, изучения и развития талантов,
                                    заложенных природой. Детские танцы очень полезны. Они стимулируют умственное и
                                    эмоциональное развитие ребенка.</p>
                                <p>
                                    Еще в Древней Греции обязательными предметами обучения детей были: музыка, танцы,
                                    логика, математика, языки, философия. Высота, которую достигла древнегреческая
                                    цивилизация, известна всем, и при этом, так немного дисциплин изучали их маленькие
                                    граждане. Именно такой набор предметов и позволяет вырастить Гармоничного Человека.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kids/игрушки3.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>
                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kids/литва1.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>

                            <div class="col-md-6">

                                <p>
                                    Танец развивает уверенность и самоуважение, улучшает восприимчивость, понимание,
                                    способность к оценке других, помогает научиться уважать их - как за сходства, так и
                                    за отличия. <span class="font-weight-bold">Занятия детей танцами</span> дисциплинируют, помогают лучшему согласованию
                                    мысли и действий, воспитывают одаренную, трудолюбивую, физически крепкую, творческую
                                    личность.
                                    Танец как вид искусства, дает нам знания и опыт. Он полностью вовлекает человека в
                                    движение, мышление и чувствование одновременно. Поэтому танец может улучшить
                                    физическое, умственное и эмоциональное развитие вашего ребенка - как мальчика, так и
                                    девочки.
                                </p>


                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">

                            <div class="col-md-6">
                                <p style="margin-top: 50px">
                                    Благодаря свойственной ему побудительности, танец дает маленькому ребенку
                                    возможность узнать и понять как Личность, так и Общество. У ребенка появляются
                                    возможности выражения своих мыслей и чувств, понимания мыслей и чувств других. В
                                    независимости от того, хочет ли стать ваш ребенок профессионалом или нет. Как и в
                                    других творческих дисциплинах, в танце профессиональная подготовка требует многих
                                    лет обучения, тренировок и практики. </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kids/матрешки2.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kids/модницы1.jpg" %}"
                                     class="size-full" style="margin-top: 20px"
                                     alt=""/>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    Немаловажный момент при выборе: <span class="font-weight-bold">как правильно выбрать для малыша достойную школу и
                                    вид танца?</span> Существует авторитетное мнение, что <span
                                        class="font-weight-bold">начинать лучше с общей
                                    хореографической подготовки – классики</span>. А дальше, по мере взросления ребенка,
                                    он
                                    проявит свое «Я», и Вам будет легче сделать выбор в пользу того или иного
                                    танцевального направления.
                                    Независимо от того, кто у вас – сын или дочь – <span class="font-weight-bold">в танце</span>
                                    каждый ребенок почувствует и
                                    найдет то, что нужно именно ему! Девочки станут <span class="font-weight-bold">стройными барышнями</span>
                                    с горделивой
                                    осанкой и красивыми формами, мальчики научатся быть <span class="font-weight-bold">галантными кавалерами</span>,
                                    приобретут апломб, разовьют пластику.
                                </p>

                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-5">
                                <p style="margin-top: 60px">
                                    Немаловажную роль играет для детей <span class="font-weight-bold">концертная деятельность</span>, к которой они
                                    приобщаться. <span class="font-weight-bold">Выход на сцену – это всегда праздник</span>, к которому надо старательно
                                    готовиться и который надо заслужить. <span class="font-weight-bold">Атмосфера подготовки выступления, костюмы,
                                    занавес, кулисы, зрители – это впечатления, которые ваш ребенок не забудет
                                    никогда.</span></p>

                            </div>

                            <div class="col-md-7">
                                <img src="{% static "static/media/media/default/photo/kids/жук1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kids/роща1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p style="margin-top: 15px">

                                    В программу обучения входят элементы ритмики, хореографии, пластической гимнастики.
                                    Ритмика помогает маленькому человечку почувствовать импульс движения, научиться
                                    двигаться в музыку, узнавать ее характер, познакомиться с ее составляющими.
                                    Гимнастика включает в себя упражнения на растягивание и расслабление мышц,
                                    способствует улучшению подвижности суставов. Хореография способствуют формированию
                                    правильной осанки и укреплению мышц спины детишек, здесь они изучают основные
                                    позиции и положения рук и ног в танце.
                                </p>
                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <h3 style="text-align: center">
                            Дорогие родители! Предоставьте вашим детям возможность насладиться миром Гармонии, приобщив
                            их к занятиям танцами! </h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

