{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{#{% block title %}Кудринка#}
{#{% endblock %}#}
{% block content %}
  <!-- slider -->
        <div class="slider">
            <div class="row">
                <div class="col-sm-12 col-md-8 slider-left">
                    <div class="slider-item">
                        <figure class="effect-milo">
                            <img src="{% static "static/media/media/default/photo/Кумбия2.jpg" %}" alt="img11"/>
                            <figcaption>
{#                                <h2 class="up">Wine Packaging Inspired by <span>the Simpsons and Piet Mondrian</span> Goes Against#}
{#                                    the Packaging Norms</h2>#}
{#                                <p>Jodi started making these beautiful book sculptures when she got hooked from folding#}
{#                                    one of the pages of a used book from a second-hand book shop.</p>#}
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 slider-right">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="slider-item rightside">
                                <figure class="effect-milo">
                                    <img src="{% static "static/media/media/default/photo/Проходки1.jpg" %}"
                                         alt="img11"/>
                                    <figcaption>
{#                                        <h2>Make Stories Come Alive with <span>Jodi Harvey-Brown</span> Book Sculpture#}
{#                                        </h2>#}
{#                                        <p>Maybe it's wine or maybe not but one thing is for sure, combining Homer and#}
{#                                            ...</p>#}
                                    </figcaption>
                                </figure>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <div class="slider-item rightside">
                                <figure class="effect-milo">
                                    <img src="{% static "static/media/media/default/photo/Зеркало1.jpg" %}"
                                         alt="img11"/>
                                    <figcaption>
{#                                        <h2>You! Be Inspired! - The Enchanting Art of Meg Hunt</h2>#}
{#                                        <p>Milo went to the woods. He took a fun ride and never came back.</p>#}
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end slider -->
    <div class="content">
        <div class="row">
            <div class="col-md-8 main-content">
                <section>
                    <h4 class="main-heading"><span>Новости</span></h4>
                    <div>
                        {% for n in news %}
                            {% if n.picture %}
                                <div>
                                    <div class="list-post">
                                        <div class="list-post-container">
                                            <img src="{{ n.picture.url }}">
                                        </div>
                                        <div class="list-post-body">
                                            <h2><a href="{% url 'one_news' slug=n.slug %}">{{ n.title }}</a></h2>
                                            <div class="post-meta">
                                                <span class="post-meta-publ-date">{{ n.date }}</span>
                                            </div>
                                            <p class="tit">{{ n.text|linebreaksbr }}</p>
                                            <script type="text/javascript">

                                                function title() {
                                                    var elem, size, text;
                                                    var elem = document.getElementsByClassName('tit');
                                                    var text = elem.innerHTML;
                                                    var size = 180;
                                                    var n = 180;
                                                    for (var i = 0; i < elem.length; i++) { /* необходимо вставить цикл, чтоб получить все блоки с классом tit */
                                                        if (elem[i].innerHTML.length > size) {
                                                            text = elem[i].innerHTML.substr(0, n);
                                                        }
                                                        else {
                                                            text = elem[i].innerHTML;
                                                        }
                                                        elem[i].innerHTML = text + '...';
                                                    }
                                                }

                                                title();
                                            </script>
                                            {% if user.is_superuser or participant.moderator %}
                                                <p>
                                                    <a class="but" href="{% url 'update_news' slug=n.slug %}"
                                                       target="_blank"><i
                                                            class="fa fa-pencil"></i></a>
                                                    <a class="but" href="{% url 'delete_news' slug=n.slug %}"
                                                       target="_blank"><i
                                                            class="fa fa-trash"></i></a>
                                                </p>
                                            {% endif %}
                                            <p><a href="{% url 'one_news' slug=n.slug %}" class="more-button"><span
                                                    class="read-more-button">Читать далее</span></a></p>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <div class="list-post">
                                        <div class="list-post-body body2">
                                            <h2><a href="{% url 'one_news' slug=n.slug %}">{{ n.title }}</a></h2>
                                            <div class="post-meta">
                                                <span class="post-meta-publ-date">{{ n.date }}</span>
                                            </div>
                                            <p class="tit">{{ n.text|linebreaksbr }}</p>
                                            <script type="text/javascript">

                                                function title() {
                                                    var elem, size, text;
                                                    var elem = document.getElementsByClassName('tit');
                                                    var text = elem.innerHTML;
                                                    var size = 200;
                                                    var n = 200;
                                                    for (var i = 0; i < elem.length; i++) { /* необходимо вставить цикл, чтоб получить все блоки с классом tit */
                                                        if (elem[i].innerHTML.length > size) {
                                                            text = elem[i].innerHTML.substr(0, n);
                                                        }
                                                        else {
                                                            text = elem[i].innerHTML;
                                                        }
                                                        elem[i].innerHTML = text + '...';
                                                    }
                                                }

                                                title();
                                            </script>
                                            {% if user.is_superuser or participant.moderator %}
                                                <p>
                                                    <a class="but" href="{% url 'update_news' slug=n.slug %}"
                                                       target="_blank"><i
                                                            class="fa fa-pencil"></i></a>
                                                    <a class="but" href="{% url 'delete_news' slug=n.slug %}"
                                                       target="_blank"><i
                                                            class="fa fa-trash"></i></a>
                                                </p>
                                            {% endif %}
                                            <p><a href="{% url 'one_news' slug=n.slug %}" class="more-button"><span
                                                    class="read-more-button">Читать далее</span></a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for n in news_vk %}
                            <div>
                                <div class="list-post">
                                    <div class="list-post-container">
                                        <img src="{{ n.pop }}"
                                             class="size-full"
                                             alt=""/>
                                    </div>
                                    <div class="list-post-body">
                                        <div class="post-meta vk">
                                            <span class="post-meta-publ-date">{{ n.pop }}</span>
                                        </div>
                                        <p class="news_vk">{{ n.pop }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <p><a href="{% url 'news' %}" class="more-button"><span
                                class="read-more-button">Архив новостей</span></a></p>

                        {% if user.is_staff %}
                            <div CLASS="col-md-9"></div>
                            <div class="col-md-3"><a class="but_plus" href="{% url 'new_news' %}"
                                                     target="_blank"><i
                                    class="fa fa-plus-circle"></i></a>

                            </div>
                        {% endif %}
                    </div>
                    <!-- end list post item -->
                </section>
                <!-- end List Post style -->


                <section>
                    <h4 class="main-heading"><span>Расписание</span></h4>
                    <div class="list-post">

                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                {% for day in weekdays %}
                                    <th scope="col" class="table_col">{{ day }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for day in weekdays %}
                                    <td scope="row" class="table_row"> {% for g in gr_ch_sh %}
                                        {% if day.day_of_the_week == g.day_of_the_week.day_of_the_week %}
                                            <div class="line">
                                                <h6>{{ g.group.name }} ({{ g.group.ages }})</h6>
                                                <p>{{ g.dance_style }}</p>
                                                <p>{{ g.begin_time }} - {{ g.end_time }}</p>
                                                {% if g.address %}
                                                    <p>{{ g.address }}</p>{% endif %}
                                                {% if g.description %}
                                                    <p>{{ g.description }}</p>{% endif %}


                                                {#                                        <p>{{ g.class_schedule.begin_time }} - {{ g.class_schedule.end_time }}</p>#}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

            </div>
            <div class="col-md-4">
                <!-- SIDE BAR -->
                <div id="sidebar">
                    <!-- sidebar-module-author -->
                    <div class="sidebar-module">
                        <div class="sidebar-content">
                            <h4 class="sidebar-heading"><span>О нас</span></h4>
                            <a href="/about_us/">
                                <img src="{% static "static/media/media/default/photo/Казачий1.jpg" %}"
                                     alt=""></a>
                            <p><span class="font-weight-bold">Лауреат и обладатель Гран-При</span> Всероссийских и
                                Международных фестивалей и конкурсов <span class="font-weight-bold">Ансамбль танца "Кудринка"</span>
                                <span class="font-weight-bold">приглашает танцевать:</span>
                                русские народные танцы, степ, различные направления современного танца, детские танцы,
                                белорусские, украинские, молдавские танцы, мексиканские и испанские танцы...
                            </p>
                            <a href="/about_us/" class="more-button"><span
                                    class="read-more-button">Читать далее</span></a>
                        </div>
                    </div>
                    <!-- end sidebar-module -->
                    <!-- sidebar-module -->
                    <div class="sidebar-module">
                        <div class="sidebar-content">
                            <h4 class="sidebar-heading"><span>Мы в соцсетях</span></h4>
                            <div class="widget-social">
                                <a href="http://facebook.com/kudrinkadance" target="_blank"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="http://vk.com/kudrinka" target="_blank"><i class="fa fa-vk"></i></a>
                                <a href=https://instagram.com/kudrinka_dance_ensemble?utm_sou.." target="_blank"><i
                                        class="fa fa-instagram"></i></a>
                                <a href="http://youtube.com/user/TheKudrinka" target="_blank"><i
                                        class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- end sidebar-module -->
                    <!-- sidebar-module-instagram -->
                    <div class="sidebar-module">
                        <div class="sidebar-content">
                            <h4 class="sidebar-heading"><span>Instagram</span></h4>
                            <ul class="widget-instagram">
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст9.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст3.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст12.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст6.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст1.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст4.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст7.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст11.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="https://instagram.com/kudrinka_dance_ensemble?utm_sou.."
                                       target="_self"><img class="ph300_300"
                                                           src="{% static "static/media/media/default/photo/instagram/инст8.PNG" %}"
                                                           alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end sidebar-module-instagram  -->
                    <!-- end SIDE BAR -->
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end content -->
{% endblock %}