{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">

                        <h1>Модерн</h1>
                        <div class="row">

                            <div class="col-md-6">
                                <p><span class="font-weight-bold">Модерн</span> - одно из направлений современной
                                    зарубежной хореографии, зародившееся в конце XIX - начале XX вв. в США и Германии.
                                    Термин <span class="font-weight-bold">"Модерн"</span> появился в США для обозначения
                                    сценической хореографии, отвергающей
                                    традиционные балетные формы. Войдя в употребление, вытеснил другие термины
                                    (свободный танец, дунканизм, танец босоножек, ритмопластический танец,
                                    выразительный, экспрессионистский, абсолютный, новый художественный), возникавшие в
                                    процессе развития этого направления. Система танца объединяет множество относительно
                                    самостоятельных направлений, связанных с именами великих исполнителей и хореографов:
                                    Марты Грэм, Дорис Хэмфри, Рудольфа фон Лабана, Хосе Лимона, Мерса Каннингхема,
                                    Лестера Хортона и др. </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/modern/модерн_ожид.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>
                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/modern/модерн_сны2.jpg" %}"
                                     class="size-full" style="margin-top: 50px"
                                     alt=""/>

                            </div>

                            <div class="col-md-6">

                                <p>
                                    Общим для представителей стиля модерн, независимо от того, к какому течению они
                                    принадлежали и в какой период провозглашали свои эстетические программы, было
                                    намерение создать новую хореографию, отвечавшую, по их мнению, духовным потребностям
                                    человека XX века. Основные её <span class="font-weight-bold">принципы: отказ от канонов, воплощение новых тем и
                                    сюжетов оригинальными танцевально-пластическими средствами</span>. В стремлении к
                                    полной
                                    независимости от традиций представители модерна. пришли, в конце концов, к принятию
                                    отдельных технических приёмов, в противоборстве с которыми зародилось новое
                                    направление. Однако представители этого направления так или иначе были вынуждены
                                    признавать классическую школу как необходимый тренинг для танцовщика.
                                </p>


                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">

                            <div class="col-md-6">
                                <p>
                                    <span class="font-weight-bold">Отличительным качеством</span>, объединяющим все эти
                                    стили, является перекодирование
                                    танцевальной культуры, сознательные поиски нового выразительного языка, создание его
                                    "лексики" и "грамматики". При этом существенной становится связь между формой танца
                                    и внутренним состоянием исполнителя, каждое движение которого основывается на личных
                                    эмоциях и переживаниях. <span class="font-weight-bold">Целью движения</span> также
                                    становится <span class="font-weight-bold">порождаемое им переживание</span>.
                                    Обновление выразительного языка символизирует стратегию обновления мира, переход от
                                    самовыражения к постижению и преображению мира через танец.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/modern/модерн_джазбенд1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-4">
                                <img src="{% static "static/media/media/default/photo/modern/модерн_2.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>

                            <div class="col-md-8">
                                <p>
                                    <span class="font-weight-bold">Модерн</span> во многом свободен от традиционных черт
                                    танцевального искусства, таких как
                                    "красивость" или "развлекательность". Если основная цель, которую ставит танцовщик,
                                    это "красиво смотреться" - ему следует заняться другим стилем. <span
                                        class="font-weight-bold">Модерн - не просто
                                    техника, это мироощущение</span>. В этом достоинство модерна, его эмоциональное
                                    богатство.
                                    Приоритет качества движения над его формой позволяет выразить себя в модерне людям с
                                    недостаточными для классического балета или других более силовых или акробатических
                                    танцевальных стилей физическими данными.
                                </p>

                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-7">
                                <p>
                                    <span class="font-weight-bold">Основное отличие</span> всех техник модерна - <span
                                        class="font-weight-bold">использование гравитации и работа с весом
                                    тела</span>, отсутствие стремления скрыть усилие, затрачиваемое при движении,
                                    нарушение
                                    вертикальной оси держания тела, фокусирование внимания на центре тела и работа с
                                    ним. Большинство стилей сформировались под влиянием какой-либо чётко изложенной
                                    философии или определённого видения мира.
                                </p>
                                <p>В последние десятилетия появилось множество самобытных техник, каждая из которых
                                    разработана определенным педагогом или хореографом. В Европе для них принято общее
                                    название <span class="font-weight-bold">contemporary technique</span>. Большинство
                                    из них базируется на идее релиза, в
                                    основе которого лежит осознанная работа с телом и движением для достижения
                                    сбалансированной работы опорно-двигательного аппарата. Результатом ее становится
                                    эффективное, т.н. "экономичное" движение. Оно естественно, раскрепощено и прекрасно,
                                    как прекрасна свобода. </p>

                            </div>

                            <div class="col-md-5">
                                <img src="{% static "static/media/media/default/photo/modern/модерн_вечер.jpg" %}"
                                     class="size-full" style="margin-top: 60px"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/modern/модерн_ожидание.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    В нашем ансамбле, мы не специализируемся на этом виде танца. Но тем не менее он
                                    занимает достойную позицию среди репертуара нашего ансамбля. Это самое молодое
                                    направление, преподаваемое в <span class="font-weight-bold">"Кудринке"</span>. Тем
                                    не менее, оно одно из самых
                                    продуктивных в смысле постановок.
                                </p>
                                <p>
                                    Ведется постановка целой сюиты на музыку группы <span class="font-weight-bold">"Иван Купала"</span>,
                                    объединяющей стиль
                                    <span class="font-weight-bold">русского народного танца и танца модерн</span>, с
                                    общей сюжетной линией. Пока отдельные
                                    куски сюиты исполняются как отдельные танцы: <span class="font-weight-bold">"Зеркало", "Гость",
                                    "Встречи-расставания", "Сны"</span> и др. Так же, интеграция народного танца с
                                    современным
                                    ярко выражена в танце <span class="font-weight-bold">"Русский твист"</span>. Имеются
                                    танцы и в чисто современном стиле:
                                    <span class="font-weight-bold">"Хип-хоп", "Фанк"</span>.
                                </p>
                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <h3>
                            Ансамбль танца "Кудринка"
                            знакомит своих зрителей
                            с различными направлениями современной хореографии.
                        </h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

