{% extends "index.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-md-8 main-content">
                <!-- Main (left side) -->
                <section>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- post -->
                            <article class="blog-post">
                             <div>
                                     {% if news.picture %}
                                                <img class="new_picture" src="{{ news.picture.url }}">
                                     {% endif %}</div>
                                <div class="post-entry">
                                <div class="row">
                                            <h3>{{ news.title }}</h3>
                                            <h5 class="date">{{ news.date }}</h5>
                                            <p>{{ news.text }}</p>
                                </div>
                            </article>
                            <!-- contact end -->
                        </div><!-- end col-md-12 -->
                    </div><!-- end row -->
                </section>
                <!-- END Main (left side) -->
            </div>
            <div class="col-md-4">
                <!-- SIDE BAR -->
                <div id="sidebar">
                    <!-- sidebar-module-author -->
                    <div class="sidebar-module">
                        <div class="sidebar-content">
                            <h4 class="sidebar-heading"><span>О нас</span></h4>
                            <a href="old/post.html">
                                <img src="{% static "static/media/media/default/photo/НОМЕР24_1.jpg" %}"
                                     alt=""></a>
                            <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache
                                fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard
                                Helvetica.</p>
                            <a href="/about_us/" class="more-button"><span
                                    class="read-more-button">Читать далее</span></a>
                        </div>
                    </div>
                    <!-- end sidebar-module -->
                    <!-- sidebar-module -->
                    <div class="sidebar-module">
                        <div class="sidebar-content">
                            <h4 class="sidebar-heading">Мы в соцсетях</h4>
                            <div class="widget-social">
                                <a href="http://facebook.com/kudrinkadance" target="_blank"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="http://vk.com/kudrinka" target="_blank"><i class="fa fa-vk"></i></a>
                                <a href=https://instagram.com/kudrinka_dance_ensemble?utm_sou.." target="_blank"><i
                                        class="fa fa-instagram"></i></a>
                                <a href="http://youtube.com/user/TheKudrinka" target="_blank"><i
                                        class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end sidebar-module -->
                    <!-- sidebar-module-instagram -->
                    <div class="sidebar-module">
                        <div class="sidebar-content">
                            <h4 class="sidebar-heading"><span>Instagram</span></h4>
                            <ul class="widget-instagram">
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст9.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст3.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст12.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст6.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст1.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст4.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст7.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст11.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                                <li><a href="#" target="_self"><img class="ph300_300"
                                                                    src="{% static "static/media/media/default/photo/instagram/инст8.PNG" %}"
                                                                    alt="Instagram Title" title="Instagram Title"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end sidebar-module-instagram  -->
                    <!-- end SIDE BAR -->
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end content -->
{% endblock %}



