{% extends 'index.html' %}
{% load static %}
{#{% load staticfiles %}#}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">

                        <h1>Общие правила</h1>
                        <div class="row">

                            <div class="col-md-8">

                                <p><span class="font-weight-bold">1. В наш ансамбль принимаются</span></p>
                                <p><span class="font-weight-bold">Дети:</span></p>

                                <ul>
                                    <li>от 4х лет – в подготовительную группу;</li>
                                    <li>с 6 лет – в младшую группу;</li>
                                    <li>с 10 лет – в среднюю группу</li>
                                    <li>с 14 лет – старшую группу ансамбля</li>
                                </ul>
                                <p> <span class="font-weight-bold">Взрослые</span> любого возраста при наличии хореографической подготовки, способностей или
                                    желания танцевать в Основной состав коллектива.</p>
                                <p><span class="font-weight-bold">2.</span> Новому участнику ансамбля рекомендуется начинать обучение с начала учебного года,
                                    но возможен прием и в середине года.
                                </p>
                                <p>
                                    <span class="font-weight-bold">3.</span> В каждой группе есть родительский комитет, который выполняет организаторские
                                    функции. В основном составе
                                </p>
                            </div>
                            <div class="col-md-4">
                                <img src="{% static "static/media/media/default/photo/сны.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>
                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/русс_заплет1.jpg" %}"
                                     class="size-full" style="margin-top: 30px"
                                     alt=""/>

                            </div>

                            <div class="col-md-6">

                                <p>
                                    <span class="font-weight-bold">4.</span> У нас не кружок, а ансамбль. Поэтому посещать репетиции необходимо без пропусков.
                                    Если Вы заболели, уезжаете, не можете прийти или опаздываете необходимо сообщить об
                                    этом руководителям.
                                </p>
                                <p>
                                    <span class="font-weight-bold">5.</span> Приходить необходимо заранее, чтобы успеть переодеться, сделать необходимую для
                                    занятий прическу, сходить в туалет (для младших групп).
                                </p>
                                <p><span class="font-weight-bold">6.</span> Родители на уроке не присутствуют, это мешает, отвлекает ребенка. Для родителей
                                    раз в полгода/год проводятся открытые уроки, где дети показывают, чему они научились
                                    за это время.
                                </p>
                                <p><span class="font-weight-bold">7.</span> Каждый учебный год заканчивается большим отчетным концертом, в котором принимают
                                    участие все наши ученики.
                                </p>
                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><span class="font-weight-bold">Форма для занятий:</span></p>
                                <p><span class="font-weight-bold">1. Для девочек:</span></p>
                                <ul>
                                    <li> гимнастический купальник,</li>
                                    <li> колготки (специальное трико) или обтягивающие лосины,</li>
                                    <li> юбка на завязках для занятий классическим танцем,</li>
                                    <li> обувь: балетки, народные туфли, степ-туфли.</li>
                                </ul>
                                <p><span class="font-weight-bold">2. Для мальчиков:</span></p>
                                <ul>
                                    <li> белая обтягивающая футболка,</li>
                                    <li> черные обтягивающие штаны,</li>
                                    <li> черные носки</li>
                                    <li> обувь: балетки, народные туфли (сапоги), степ-туфли.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/ухажер.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-5">
                                <img src="{% static "static/media/media/default/photo/modern/модерн_1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>

                            <div class="col-md-7">
                                <p style="margin-top: 50px; margin-bottom: 30px">
                                    <span class="font-weight-bold">3.</span> Форма должна быть аккуратной, облегать тело, так как движения танцора должно быть
                                    видны педагогу, тогда процесс обучения будет идти наиболее продуктивно.
                                </p>
                                <p>
                                    <span class="font-weight-bold">4.</span> На балетные туфли необходимо пришить резинки или ленты (особым образом), чтоб они
                                    не сваливались с ног, мешая тем самым выполнять упражнения. И запомните правило:
                                    если белые колготки (носки) – белые балетные туфли, если черные – черные.
                                </p>
                                <p style="margin-bottom: 30px; margin-top: 30px">
                                    <span class="font-weight-bold">5.</span> Все украшения (бусы, кольца, крупные серьги, браслеты и т.д.), а также наручные
                                    часы на урок и, конечно, на концерт должны быть сняты.
                                </p>
                                <p>
                                    <span class="font-weight-bold">6.</span> Прическа: все волосы аккуратно зачесаны назад в крепкий пучок на затылке,
                                    выпадающие пряди необходимо убирать заколками, невидимками и т.д. Неправильная
                                    прическа не только мешает выполнять движения и видеть педагога, но и может нанести
                                    вред зрению.
                                </p>

                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-4">
                                <p>
                                    <span class="font-weight-bold">Дисциплина:</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">1.</span> В танцевальном классе (и перед ним) не разрешается бегать, кричать, висеть на
                                    станках. Это не только мешает нашему ансамблю и другим организациям, которые
                                    работают в нашем Доме Культуры, но и может привести к серьезным травмам.


                                </p>
                                <p>
                                    <span class="font-weight-bold">2.</span> Перед входом в класс следует переобуться в сменную обувь или надеть на уличную
                                    обувь специальные бахилы.

                                </p>
                                <p><span class="font-weight-bold">3.</span> Никакой жевательной резинки, конфет на уроке!!!</p>
                            </div>

                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/венгрия_дев.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>


                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

