{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">

                        <h1>Русский фольклор</h1>
                        <div class="row">

                            <div class="col-md-8">
                                <p>У Русского Народного Танца своя многовековая история. В V - VII веках народные танцы
                                    исполнялись в лоне "игрищ" (сходбищ). На их характер налагали отпечаток древние
                                    языческие представления. </p>
                                <p>
                                    Принятие христианства способствует развитию культуры, и народное творчество получает
                                    выражение в скоморошестве. Скоморохи сыграли огромную роль в развитии и
                                    популяризации народного танца. Именно в это время зарождаются сценические формы
                                    народных танцев. </p>
                            </div>
                            <div class="col-md-4">
                                <img src="{% static "static/media/media/default/photo/НУМЕР9.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>
                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/russian/русс_пляс.jpg" %}"
                                     class="size-full"
                                     alt=""/>

                            </div>

                            <div class="col-md-6">

                                <p>
                                    В середине XVI столетия усиливающееся влияние русской церкви негативно сказывается
                                    на народном искусстве. Видя в народных песнях и танцах пережитки язычества, церковь
                                    притесняет музыкантов, танцоров и певцов, а в XVII веке Алексей Михайлович издает
                                    указ о преследовании скоморохов.
                                </p>
                                <p>
                                    Восемнадцатый век - это эпоха, связанная с именем Петра I, блестящего реформатора. В
                                    этот период произошли серьезные преобразования в культуре: танец приобретает более
                                    светский характер. И лишь в народе русский танец не только сохраняется, но и
                                    развивается, принимая новые разновидности.</p>


                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">

                            <div class="col-md-5" style="margin-top: 20px">
                                <p>
                                    После Октябрьской революции новым проявлением танцевального творчества народа стали
                                    профессиональные ансамбли танца, а также самодеятельные коллективы. Художественная
                                    самодеятельность стала своеобразным преемником и продолжателем традиций русской
                                    народной хореографии. Если раньше русские танцы исполнялись в основном на
                                    праздниках, игрищах, свадьбах, то теперь они занимают большое место в репертуаре
                                    профессиональных театров.
                                </p>
                            </div>
                            <div class="col-md-7">
                                <img src="{% static "static/media/media/default/photo/russian/русс_ухаж.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-4">
                                <img src="{% static "static/media/media/default/photo/russian/русс_вдольдер.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>

                            <div class="col-md-8">
                                <p>Трудно определить, сколько народных плясок и танцев бытует в России. Их просто
                                    невозможно сосчитать. Они имеют самые разнообразные названия: иногда по песне, под
                                    которую танцуются ("Камаринская", "Сени"), иногда по количеству танцоров ("Парная",
                                    "Четверка"), иногда название определяет рисунок танца ("Плетень", "Воротца"). </p>
                                <p>Но во всех этих столь различных танцах есть что-то общее, характерное для русского
                                    танца вообще: это широта движения, удаль, особенная жизнерадостность, поэтичность,
                                    сочетание скромности и простоты с большим чувством собственного достоинства. </p>

                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">

                            <div class="col-md-4">

                                <p>

                                    Безусловно, в "Кудринке" русским танцам уделено особое внимание. Они играют ведущую
                                    роль в репертуаре коллектива и насчитывают более двух десятков. О русских "дробях",
                                    "вертушках", "приподаниях" знают даже самые маленькие участники коллектива. </p>
                                <p>
                                    Русские танцы сильно различаются между собой по настроению, по рисунку и по темпу. В
                                    "Кудринке" есть танцы-ветераны ("Городская кадриль", "Веретенце" и др.), которым уже
                                    более 30 лет. Есть танцы, лишь находящиеся в стадии постановки ("Московская
                                    кадриль", "Хохлома"). Есть хороводные танцы ("Веретенце", "Катеринушка"), плясовые
                                    ("Хороводная плясовая", "Вдоль деревни", "Девичьи проходки"), игровые танцы
                                    ("Кавалеры", "Ухажеры-неудачники").
                                </p>
                            </div>

                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/russian/русс_заплет1.jpg" %}"
                                     class="size-full" style="margin-top: 50px"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/russian/русс_прох.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6" style="margin-top: 70px">
                                <p>
                                    На данный момент находится в разработке идея создания интегрированной сюиты (русский
                                    народный танец с элементами модерна) под музыку группы "Иван Купала". Отдельные
                                    элементы сюиты уже поставлены и вошли в репертуар коллектива как самостоятельные
                                    танцы ("Зеркало", "Разлука", "Встречи-расставания").
                                </p>
                            </div>

                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <h3>
                            Ансамбль танца "Кудринка"
                            бережно хранит основы национальной танцевальной культуры.</h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

