{% load static %}
<div class="concert" data-id="{{ concert.id }}">
    <div class="concert_title">
        <h4 class="concert_name">{{ concert.name }}</h4>
        <span class="concert_begin_date">{{ concert.begin_date }}</span>
        <span class="concert_end_date">{{ concert.end_date }}</span>
        <span class="concert_name">{{ concert.begin_time }} - {{ concert.end_time }}</span>
        <span class="concert_date">{{ concert.place }}</span>
        <span class="concert_address">{{ concert.address }}</span>
        <span class="concert_description">{{ concert.description }}</span>
        {% if user.is_authenticated %}
            <a href="{% url 'update_concert' slug=concert.slug %}" class="btn btn-secondary btn-sm">Редактировать</a>

            <a href="{% url 'delete_concert' slug=concert.slug %}" class="btn btn-danger btn-sm">Удалить</a>
        {% endif %}
    </div>
</div>

