{% extends "show.html" %}
{% block title %}Расписание{% endblock %}
{% block name %}Расписание{% endblock %}
{% block elements %}
<table class="table table-hover">
        <thead class="thead-dark">
               <style type="text/css">
            TABLE {
                {#width: 300px; /* Ширина таблицы */#}
                border-collapse: collapse; /* Убираем двойные линии между ячейками */
            }

            TD, TH {
                padding: 3px; /* Поля вокруг содержимого таблицы */
                border: 1px solid black; /* Параметры рамки */

            }

            .ok {
                width: 25px;
                height: 25px;
            }
        </style>
        <tr>
            {% for day in weekdays %}
                <th scope="col">{{ day }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for day in weekdays %}
                <td> {% for g in gr_ch_sh %}
                    {% if day.day_of_the_week == g.day_of_the_week.day_of_the_week %}
                        <h6>{{ g.group.name }} ({{ g.group.ages }})</h6>
                        {{ g.dance_style }}
                            {{ g.class_schedule.begin_time }} - {{ g.class_schedule.end_time }}
                        <p></p>

                          ______________________
                    {% endif %}
                {% endfor %}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}