{% load static %}
<div class="choreographer" data-id="{{ choreographer.id }}">
    <div class="choreographer_title">
        <span class="choreographer_last_name">{{ choreographer.last_name }}</span>
        <span class="choreographer_first_name">{{ choreographer.first_name }}</span>
        <span class="choreographer_patronymic">{{ choreographer.patronymic }}</span>
        <span class="choreographer_phone">{{ choreographer.phone }}</span>
        <span class="choreographer_email">{{ choreographer.email }}</span>
        <span class="choreographer_description">{{ choreographer.description }}</span>

        {% if choreographer.picture %}
            <img class="choreographer_picture" src="{{ choreographer.picture.url }}" width="50%" height="50%">
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'update_choreographer' slug=choreographer.slug %}"
               class="btn btn-secondary btn-sm">Изменить</a>
            <a href="{% url 'delete_choreographer' slug=choreographer.slug %}" class="btn btn-danger btn-sm">Удалить</a>
        {% endif %}
    </div>
</div>
