{% extends 'index.html' %}
{% load static %}
{#{% load staticfiles %}#}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">
                        <h1>СТЕП, TAP DANCE</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="font-weight-bold">СТЕП, ЧЕЧЕТКА, TAP DANCE</span> - это эстрадный
                                    танец, создание ритмов ногами. Степ
                                    отличается
                                    от других танцев тем, что его можно танцевать и вовсе без музыки.</p>
                                <p>
                                    Считается, что СТЕП появился не сразу в таком виде, каким мы знаем его сейчас. Есть
                                    <span class="font-weight-bold">три основные версии происхождения СТЕПА</span>:</p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/step/степ-16тонн1.png" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <img src="{% static "static/media/media/default/photo/step/степ_ИРЛАНДСКИЙ7.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-5">
                                  <p style="margin-top: 35px">
                                    <span class="font-weight-bold">По одной версии</span>, СТЕП образовался из
                                    национального танца Ирландии - <span
                                          class="font-weight-bold">Джиги</span>. Его
                                      отплясывали бедняки, бродяги и преступники на палубе корабля. За 15 секунд им
                                      нужно
                                      было ударить о деревянный пол около 80 раз! Если учесть, что обувь в то время
                                      носили
                                      деревянную, можно представить какой стоял грохот! Затем этот танец матросов стал
                                      называться <span class="font-weight-bold">"хорнайп"</span>, а у русских <span
                                          class="font-weight-bold">"матлот"</span> (яркий пример - флотский танец под
                                      песню <span class="font-weight-bold">"Яблочко"</span>).
                                  </p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p style="margin-top: 40px">
                                    <span class="font-weight-bold">По другой версии</span>, основателями СТЕПА были
                                    негры, которым от природы присуще чувство
                                    ритма. Они выражали своё чувство игрой на барабанах. Но когда в XVII веке на
                                    американских плантациях появляется большое количество черных рабов, барабаны (как
                                    средство оповещения о восстании) старательно уничтожают. Лишенные возможности
                                    барабанить, негры стали выражать своё чувство ритма ударами ног о землю и ладоней по
                                    бедрам, плечам - ритмическими хлопками, перестуком и шарканьем ног, сопровождая свои
                                    песни.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/step/чуча1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static "static/media/media/default/photo/step/степ_мишка2.jpg" %}"
                                     class="size-full" style="margin-top: 45px"
                                     alt=""/>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <span class="font-weight-bold">По третьей версии</span>, первыми <span
                                        class="font-weight-bold">СТЕПИСТАМИ</span> были профессиональные <span
                                        class="font-weight-bold">артисты - менестрели</span>,
                                    появившиеся в Америке в конце XIX. Это были англичане и ирландцы. Их представления
                                    включали в себя пение, танцы, игру на всевозможных музыкальных инструментах (банжо,
                                    ударные, скрипка, тамбурин).
                                </p>
                                <p>
                                    Далее, со временем, танец развивался, менялась мода, появлялись новые идеи, он
                                    совмещался с другими видами танцев, усложнялись движения… и вот он - СТЕП!
                                </p>

                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <p style="margin-top: 30px">
                                    <span class="font-weight-bold">Что же такое СТЕП для Кудринки?</span> Для нас СТЕП -
                                    это целая серия всегда динамичных,
                                    живых и жизнерадостных танцев. Причем, помимо танцев чисто чечеточных, в репертуаре
                                    довольно часто встречается явление смешивания <span class="font-weight-bold">народного танца с элементами СТЕПа</span>.
                                </p>
                                <p>Так, например, в мексиканской сюите <span class="font-weight-bold">"Сладкий сон, или ай-яй-яй компания"</span>
                                    есть по
                                    крайней мере три номера, исполнение которых требует достаточных навыков в области
                                    СТЕПа.
                                </p>
                            </div>
                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/step/степ-мексика5.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <img src="{% static "static/media/media/default/photo/step/степ_флотский.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-5">
                                <p style="margin-top: 60px">Классический пример <span class="font-weight-bold">"русского степа"</span> -
                                    это безусловно, <span class="font-weight-bold">"Флотский танец"</span>
                                    (более известный под названием <span class="font-weight-bold">"Яблочко"</span>).</p>
                                     <p>
                                    Чисто степовые номера, в классическом виде, в <span class="font-weight-bold">"Кудринке"</span>
                                    появились в 2000 году. Наш
                                         первый степ - нестареющие <span class="font-weight-bold">«16 тонн»</span>, неоднократный лауреат и дипломант, обладатель
                                    специальных призов в различных международных фестивалях.</p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Уже долгие годы Кудринка исполняет номер <span class="font-weight-bold">«Московские окна»</span>, успевший полюбиться и
                                    московскому, и американскому зрителю. Наши «Окна» уже покорили такие площадки как
                                    <span class="font-weight-bold">МХАТ им.Горького, КЗ Музея на Поклонной горе, городскую танцевальную площадку на
                                        Тверской улице, а так же Государственный Кремлевский Дворец</span>. В 2018 году, в
                                    результате подготовки совместного исполнения <span class="font-weight-bold">«Московских окон» с Президентским
                                    оркестром</span>, появилась еще одна версия этого танца. Хочется отметить, что бисовка
                                    номера была подарена кудринцам заслуженным артистом России степистом <span class="font-weight-bold">Владимиром
                                    Кирсановым!</span></p>


                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/step/степ_окна1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6"><img src="{% static "static/media/media/default/photo/step/чуча.jpg" %}"
                                     class="size-full"
                                     alt=""/></div>
                            <div class="col-md-6">
                            <p>  В 2018 году «Кудринка» впервые приняла участие в <span class="font-weight-bold">степ-фестивале</span> и показала
                                    результаты вполне на уровне с профессиональными степовыми коллективами.
                                    На данный момент степ-номера в ансамбле представлены достаточно обширно и репертуар
                                    постоянно пополняется степ-премьерами. Самые младшие степисты отбивают зажигательный
                                танец <span class="font-weight-bold">«Желтые ботинки», «Модниц» и «Пингвин-степ»</span>. Мужская часть «Кудринки»
                                громогласно выстукивает <span class="font-weight-bold">«Моряка-Мишку, «Джека», «Флотский танец»</span>, дамы - <span class="font-weight-bold">«Чу-чууу»
                                    «Разговоры» и «Степ Кан-кан»</span>. Так что не за горами новые премьеры…
                            </p></div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <h3>
                        В <span class="font-weight-bold">"Кудринке"</span> каждую неделю проходят занятия по
                                СТЕП-классу. А это каждый раз новые
                                движения, интересные комбинации, разнообразная музыка и просто незабываемые часы
                                хорошего настроения! </h3>
                        </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

