{% extends 'index.html' %}
{% load static %}
{#{% load staticfiles %}#}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">
                        <h1>Цыганские танцы</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Долгое время считалось, что родиной цыган является Египет, пока, наконец, в 1855
                                    году было доказано их индийское происхождение. В древней Индии существовала каста
                                    «дом». В нее входили бродячие певцы и музыканты, которые кочевали по северной части
                                    Индии. Каста эта существует в Индии и по сей день. В V веке, в связи с начавшимися
                                    междоусобными войнами, начался исход цыган из Индии. Спрос на певческо-танцевальное
                                    искусство резко упал, а голод и нужда заставили бродячих артистов искать счастье в
                                    других землях. Цыгане двигались на запад, постепенно перенимая обычаи оседлых
                                    народов. Цыганские традиции, язык, привычки вбирали в себя слои культуры других
                                    народов: из Греции пришли приемы гадания, язык обогатился персидскими, армянскими и
                                    греческими словами.
                                </p>

                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/gypsy/цыг16.jpg" %}"
                                     class="size-full" style="margin-top: 25px"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/gypsy/цыг1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p>Пение и танцы всегда занимали в жизни цыган особое место. Среди огромного слоя
                                    цыганской культуры выделяются три направления, которые завоевали наибольшую
                                    популярность: фламенко, танцы балканских цыган и пляски русских цыган.

                                    Танец русских цыган хорошо известен по советским фильмам. У женщин это сложная игра
                                    рук и ног, взмахи юбкой, трепет плеч; плавное начало и буйная, быстрая концовка. У
                                    мужчин это дробь, обхлопывание ладонями туловища и ног, взмахи руками, как крыльями.



                                </p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>  Во многих движениях можно опознать русские корни. Этот танец и появился, как
                                    интерпретация русского народного, в XIX веке и значительно с тех пор развился,
                                    дополнившись элементами фламенко (игра с юбкой, постановка пальцев) и движениями,
                                    придуманными самими русскими цыганами; от восточных корней в нём только дрожь
                                    плечами и кистями, некоторые движения рук, особый взмах волосами, прогиб назад. В
                                    танце у русских цыган принято подхлопывать на слабую долю, в то время как европейцам
                                    привычнее на сильную.
                                    Танец балканских цыган появился на стыке областей распространения танца живота и
                                    восточноевропейских танцев. Соответственно, в женском танце игра ногами в балканском
                                    стиле сочетается с тряской бёдрами и дрожью плеч и кистей, к ним прибавляются
                                    кручения вокруг своей оси, фигурное щёлканье пальцами, игра рук, дробь, мелкие
                                    прыжки, особый трепет юбкой. Он считается разновидностью танца живота. Мужская
                                    пляска состоит преимущественно из игры ног и чечётки, к которым прибавляется
                                    щёлканье пальцами, сочетающееся с несложной игрой рук.


                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/gypsy/цыг10.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/gypsy/цыг12.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p> Главной особенностью цыганского танца является его композиция – постепенное
                                    нарастание темпа от умеренного до очень быстрого. Композицию можно разделить на три
                                    части:
                                    – первая часть – это медленный или умеренный темп, под который исполнитель
                                    появляется на сцене как бы не танцуя, а только готовясь к темпераментной пляске.
                                    Здесь используются широкие проходки, в которых еще нет особой яркости и размаха.
                                    – средняя часть – это развитие танца.     Музыка набирает темп, здесь применяются
                                    дробные хода и хлопки у мужчин и легкие проходки и прыжки у женщин.
                                      </p></div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <p>

                                    – финальная часть танца – это бешеный ритм и быстрые стремительные движения. Мужчины
                                    исполняют виртуозные дроби с хлопками, женщины делают быстрые повороты, воланы
                                    юбкой, падают на пол и прогибаются с тряской плеч.
                                    Все эти виды цыганских танцев делятся по манере на «таборные», сценические и
                                    уличные.
                                    «Таборная» – это манера танца в своём, цыганском, кругу, независимо от того,
                                    настоящий ли это табор в чистом поле или день рожденья в городской квартире.
                                    Такая пляска обязательно состоит из массы бессистемных движений, рассчитанных на то,
                                    чтобы показать свою виртуозность, а не на зрелищность.


                                </p>
                            </div>
                            <div class="col-md-5">
                                <img src="{% static "static/media/media/default/photo/gypsy/цыг9.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/gypsy/цыг2.jpg" %}"
                                     class="size-full" style="margin-top: 40px"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p>  В «таборном» танце нет таких
                                    вольностей, как в сценическом танце, например, взмахов юбкой возле плеч или
                                    обнажения ног взрослыми женщинами. Зато в такой танец часто добавляются движения,
                                    учитывающие специфику одежды, вроде поддержки и поправки головного убора. При парном
                                    танце партнёры зорко следят друг за другом, чтобы импровизировать в унисон.
                                    Расстояние между партнёрами традиционно весьма приличное, выбирается с учётом того,
                                    что мужчина может вскидывать ногами в танце, махать руками или подпрыгивать.
                                    Сценический танец, соответственно, рассчитан на зрелищность и на то, что его смотрит
                                    большое количество людей и с большого расстояния. Отсюда более широкие, свободные
                                    движения (вроде расправления юбки в виде полукруга), повторяемость наиболее
                                    зрелищных элементов, постановочность, большая вольность в нарядах и их
                                    непрактичность (изобилие оборок, воланов, широкие юбки и манжеты, просторные
                                    рубашки, в то время как «таборный» танец танцуется в обычной одежде).

                                    Наконец, уличный тип сочетает в себе приметы сценического и «таборного» танца.
                                    Прежде всего – это импровизация. Движения, рассчитанные на большое расстояние до
                                    зрителя (чтобы привлечь внимание прохожих) сочетаются с адресным танцем на близком
                                    расстоянии. Многие сценические и таборные движения не используются в силу излишней
                                    при долгой работе на улице трудоёмкости. Танцовщица всячески старается наладить
                                    контакт со зрителем, улыбаясь ему и протягивая к нему руки. Из-за того, что зритель
                                    может в любой момент подойти близко, приходится избегать «механической» мимики,
                                    пригодной для сцены, и приводить себя в особый эмоциональный настрой – веселье,
                                    кураж, чувственность, – чтобы лицо было естественным.</p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <h3>
                            Ансамбль танца "Кудринка"
                            бережно хранит основы национальной танцевальной культуры.</h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

