{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">
                        <h1>Танцы народов мира</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <p style="margin-top: 50px">
                                    В репертуаре ансамбля <span class="font-weight-bold">танцы народов мира</span>:
                                    украинские, молдавские, белорусские, венгерские, румынские, цыганские,
                                    литовские, испанские, мексиканские и т.д.
                                </p>
                                    На основе имеющегося репертуара ансамблем танца "Кудринка" были подготовлены и
                                    показаны программы: <span class="font-weight-bold">"Украденная весна", "Бабушкины рассказки" и др., на основе
                                    испанских танцев - программа "Все это - Испания!"; мексиканский моноспектакль
                                    "Сладкий сон или ай-ай-ай, кампания!"</span>.
                            </div>
                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/Авалюлька1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                             <div class="col-md-7">
                                <img src="{% static "static/media/media/default/photo/Цыганский1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-5">
                                <p style="margin-top: 40px"> <span class="font-weight-bold">ЦЫГАНСКИЙ ТАНЕЦ</span> является неотъемлемым атрибутом любого праздничного мероприятия.
                                    Слушая страстные зажигательные цыганские песни, вряд ли кому удасться не поддаться
                                    соблазну пуститься в пляс! </p>
                                 <p><a href="{% url 'gypsy' %}" class="more-button"><span
                                                class="read-more-button">Читать далее</span></a></p>
                            </div>

                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">

                            <div class="col-md-6">
                                <p> <span class="font-weight-bold">Канте фламенко</span> - великолепное представление,
                                    окрашенное сильными эмоциями и
                                    переживаниями. Оно оказало влияние на многие танцевальные и музыкальные стили всего
                                    мира.
                                    <span class="font-weight-bold">«И всё это – Испания!»</span> - так называется
                                    программа, состоящая из испанских танцев
                                    «Кудринки». В основном, её исполнители – старшие участники ансамбля. Но с испанскими
                                    танцами дети начинают знакомиться уже в средней группе ансамбля, они овладевают
                                    основными навыками игры на кастаньетах, постановкой корпуса, учат позиции рук. <span
                                            class="font-weight-bold">«Port
                                        des bras», «Севильяна», «Tangos», «El Vito» </span>- эти названия всем тем, кто
                                    хоть раз в
                                    жизни сталкивался с испанскими танцами. </p>
                                <p><a href="{% url 'flamenco' %}" class="more-button"><span
                                        class="read-more-button">Читать далее</span></a></p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/Испания1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/kumbia/кум7.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-4">
                                <p style="margin-top: 25px">
                                    <span class="font-weight-bold">Кумбия</span> – это танец, который появился среди черного населения атлантического побережья
                                Колумбии. Он сочетает африканские ритмы и испанскую мелодичность, дополненную
                                латиноамериканскими созвучиями. Cumbia отличается от других латиноамериканских стилей
                                    изысканным, экспрессивным и строгим ритмом.</p>
                                <p><a href="{% url 'kumbia' %}" class="more-button"><span
                                        class="read-more-button">Читать далее</span></a></p>
                            </div>

                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>

                        <h3>
                            Ансамбль танца "Кудринка"
                            бережно хранит основы национальной танцевальной культуры.</h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

