{% extends 'index.html' %}
{% load static %}
{#{% load staticfiles %}#}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">
                        <h1>Фламенко</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <p style="margin-top: 60px">
                                   <span class="font-weight-bold"> «Зажигательная музыка и стук каблуков. Роза в зубах. Взметнулась и обвилась вокруг
                                    ног струящаяся юбка. Дробь кастаньет выбивает стоны разбитого сердца, жалобы на
                                    измену и крики мести»<span class="font-weight-bold"> </p>
                            </div>
                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/flamenco/флам10.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/flamenco/флам9.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p><span class="font-weight-bold">ФЛАМЕНКО или КАНТЕ ФЛАМЕНКО</span> - это песенно-танцевальный спектакль, ставший символом
                                    Испании и изучаемый во многих странах от США до Японии
                                    Как удалось создать этот уникальный сплав музыкального сопровождения (токе), пения
                                    (канте) и танца (байле), точно не знает никто. Ясно лишь одно: готовила его душа
                                    испанца, домной был знойный юг страны – <span class="font-weight-bold">Андалусия</span>, а материалом стало невероятное
                                    смешение европейских и восточных культур, оставивших свой след, боль и кровь на
                                    прекрасной земле Испании.

                                </p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Корни канте фламенко уходят так глубоко, что при взгляде в эту пропасть кружится
                                    голова. Еще задолго до наступления нашей эры на территории современной Андалусии
                                    сложилось одно из древнейших государств Европы – Тартесс. Маленькое необычное
                                    государство с высокообразованным народом, собственной письменностью, самобытной
                                    музыкальной культурой.
                                    Несомненное влияние на формирование КАНТЕ ФЛАМЕНКО оказало принятие в II – Х в.
                                    церковью греко-византийского религиозного песнопения, с его звукорядом и
                                    мелодическими оборотами.
                                </p></div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/flamenco/флам6.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/flamenco/флам8.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p>С приходом в VIII веке на Пиренейский полуостров арабских племен берберов и
                                    последующего расцвета мавританского государства на полуострове формируется
                                    классическая «андалусская музыка». Словно губка, впитав некоторые формы и жанры
                                    испанской музыки, она создает свои, отдавая взамен ритмы, чарующие мелодии пустыни,
                                    темы зноя, любви и страсти…
                                    В XV –XVI в. в. на древнюю землю Андалусии пришли цыгане. Выходцы из Индии, они
                                    неожиданно нашли в Испании родственную музыкальную культуру и легко, органично
                                    сжились с ней. И более того, видимо, соприкосновение «цыганского» и «андалусского»
                                    высекло ту искру, что привела к окончательному оформлению жанра ФЛАМЕНКО.
                                </p></div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <p>В Андалусии твердо убеждены, что нет таких чувств, которые не способен передать КАНТЕ
                                    ФЛАМЕНКО. Так оно и есть, особенно когда в неразрывное единство музыки и песни
                                    вплетено удивительное искусство байле – танца, берущего начало где-то в глубине
                                    многих столетий.</p>
                                <p>
                                    Руки, вскинутые над головой в характерном изгибе, подтянутая ввысь спина, особенно
                                    гордая, но слегка агрессивная постановка тела…Миг неподвижности… И россыпь дроби –
                                    каблуки ног легко и ясно отбивают ритм, заставляя следовать за собой гитару.
                                </p></div>
                            <div class="col-md-5">
                                <img src="{% static "static/media/media/default/photo/flamenco/флам4.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/flamenco/флам3.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p> Вслед
                                    за грубоватым голосом кантора – резкий поворот корпуса, удивительно сильный всплеск
                                    рук, неожиданно сменившийся какой-то восточной, гибкой пластикой их движений. Вот
                                    оно начало магии танца фламенко, его душа, та таинственная сила, без наличия которой
                                    невозможно донести его мощь и полноту чувств. У байлаора (танцора) гораздо большая
                                    свобода импровизации, чем у певца и гитариста. Отсюда и отсутствие нужды в широком
                                    сценическом пространстве, но зато требование пространства внутреннего – полноты
                                    души.
                                </p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <p>Любопытно, что укоренилось мнение о кастаньетах как непременном атрибуте канте
                                    фламенко. Однако чаще всего ритм обивается ногами, щелканьем пальцев или хлопками
                                    ладоней. Используются и кастаньеты, но чаще в самых популярных танцах или
                                    обработанных для не слишком взыскательной аудитории. Наиболее чистые формы фламенко
                                    их избегают, ибо использование кастаньет решительно ограничивает возможности
                                    страстной и выразительной игры рук.
                                    Канте фламенко – великолепное представление, окрашенное сильными эмоциями и
                                    переживаниями. Оно оказало влияние на многие танцевальные и музыкальные стили всего
                                    мира.
                                </p></div>
                            <div class="col-md-5">
                                <img src="{% static "static/media/media/default/photo/flamenco/флам7.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>

                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <h3>
                            Ансамбль танца "Кудринка"
                            бережно хранит основы национальной танцевальной культуры.</h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

