{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">
                        <h1>Танцы народов мира</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    В репертуаре ансамбля <span class="font-weight-bold">танцы народов мира</span>:
                                    украинские, молдавские, белорусские, венгерские, румынские, цыганские,
                                    литовские, испанские, мексиканские и т.д.
                                </p>
                            </div>
                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/НОМЕР8.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/НОМЕР11.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                            <p>
                                    На основе имеющегося репертуара ансамблем танца "Кудринка" были подготовлены и
                                    показаны программы: <span class="font-weight-bold">"Украденная весна", "Бабушкины рассказки" и др., на основе
                                    испанских танцев - программа "Все это - Испания!"; мексиканский моноспектакль
                                    "Сладкий сон или ай-ай-ай, кампания!"</span>.
                                </p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>ЦЫГАНСКИЙ ТАНЕЦ является неотъемлемым атрибутом любого праздничного мероприятия.
                                    Слушая страстные зажигательные цыганские песни, вряд ли кому удасться не поддаться
                                    соблазну пуститься в пляс! </p>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/НОМЕР6.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/НОМЕР22.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p>Канте фламенко - великолепное представление, окрашенное сильными эмоциями и
                                    переживаниями. Оно оказало влияние на многие танцевальные и музыкальные стили всего
                                    мира.
                                    «И всё это – Испания!» - так называется программа, состоящая из испанских танцев
                                    «Кудринки». В основном, её исполнители – старшие участники ансамбля. Но с испанскими
                                    танцами дети начинают знакомиться уже в средней группе ансамбля, они овладевают
                                    основными навыками игры на кастаньетах, постановкой корпуса, учат позиции рук. «Port
                                    des bras», «Севильяна», «Tangos», «El Vito» - эти названия всем тем, кто хоть раз в
                                    жизни сталкивался с испанскими танцами. Самый старший из испанский танцев в
                                    «Кудринке» - танец «Старинные часы». К сожалению, исполняется не так часто как
                                    хотелось бы, из-за сложного сценического освещения. Недавно Мариной Игоревной был
                                    поставлен новый танец «Цветок любви».</p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <img src="{% static "static/media/media/default/photo/НУМЕР1_1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/Номер1.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <h3>
                            Ансамбль танца "Кудринка"
                            бережно хранит основы национальной танцевальной культуры.</h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

