{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}О нас
{% endblock %}
{% block content %}
    <script src="{% static "static/js/scripts.js" %}"></script>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- post -->
                <article class="blog-post">
                    <div class="post-entry">
                        <h1>Кумбия</h1>
                        <div class="row">
                            <div class="col-md-5">
                                <p><span class="font-weight-bold">Кумбия</span> – это танец, который появился среди черного населения атлантического побережья
                                    Колумбии. Он сочетает африканские ритмы и испанскую мелодичность, дополненную
                                    латиноамериканскими созвучиями. Cumbia отличается от других латиноамериканских
                                    стилей изысканным, экспрессивным и строгим ритмом.
                                    Свое развитие этот вид сальсы получил на севере побережья Колумбии. Часто называемый
                                    «уличный стиль», Кумбия - это больше тропическая музыка, чем сальса.
                                </p>
                            </div>
                            <div class="col-md-7">
                                <img src="{% static "static/media/media/default/photo/kumbia/кум7.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kumbia/кум3.jpg" %}"
                                     class="size-full" style="margin-top: 30px"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                            <p>
                                <span class="font-weight-bold">Музыка Кумбия</span>,
                                    как и сальса состоит из 8 долей, и это позволяет танцевать сальсу под эту музыку.
                                    Различия все же есть в ритме: пауза между первыми тремя шагами и последними тремя
                                    шага являются более длинной, чем в сальсе, и поэтому немного не удобно танцевать
                                    сальсу при таком шаге. Так же для Кумбии характерен основной шаг назад, что
                                    необходимо при исполнении поворота в кругу, для заключительного движения, и перед
                                    выполнением каждого поворота.Считается что школы Кумбии или профессиональных преподавателей Кумбии не существует.
                                    Все, кто танцуют Кумбию скажут вам, что они научились ее танцевать у своих
                                    родителей, друзей, на улице или просто в клубах. И благодаря этому, много танцоров
                                Кумбии называют себя <span class="font-weight-bold">«уличными танцорами»</span> которые никогда не брали никаких уроков
                                    танцев.


                                </p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="font-weight-bold">Кумбия</span> - одна из наиболее показательных <span
                                        class="font-weight-bold">колумбийских мелодий</span>, в которой сочетаются
                                    музыкальные традиции 3 культур - негритянской, индейской и европейской. Негры
                                    привнесли в Кумбию свой ритм барабанов, индейцы - флейты и свирели (из стебля
                                    проса), которые ведут мелодию, влияние европейцев (колонизаторов) ограничилось
                                    только несколькими вариациями в музыкальном исполнении, хореографии и одежде
                                    танцоров.<span class="font-weight-bold">Корни кумбии уходят в эпоху рабства</span> и само название происходит от негритянского
                                    <span class="font-weight-bold">выкрика "кумбе!"</span> во время танца, которое позже стало названием всего произведения.

                                </p></div>
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kumbia/кум5.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static "static/media/media/default/photo/kumbia/кум1.jpg" %}"
                                     class="size-full" style="margin-top: 40px"
                                     alt=""/>
                            </div>
                            <div class="col-md-6">
                                <p> От этого же корня происходят и слова <span
                                        class="font-weight-bold">"каракумбе"</span> - своего рода хореографической
                                    игры, которая была очень популярна в Антиокии, где негры работали в шахтах,
                                    <span class="font-weight-bold">"паракумбе"</span> - исчезнувший ныне танец и <span
                                            class="font-weight-bold">"кумбанча"</span>, что на Кубе означает "веселье"
                                    или "гулянку". Факт рождения кумбии на стыке негритянской и индейской культуры на
                                    сегодня является неоспоримым.
                                    <span class="font-weight-bold">Место рождения Кумбии</span> остаётся предметом дискуссий среди учёных-фольклористов. По
                                    мнению маэстро Хосе Барроса, Кумбия родилась в индейской стране Покабуй в районе
                                    Банко (Магдалена), но другие исследователи полагают, что Кумбия появилась
                                    первоначально в Сьенаге (Магдалена) или Соледаде (Атлантико). Пожалуй, единственное,
                                    в чём сходятся все авторитеты в данной области, что Кумбия должна была появиться в
                                    поселениях негров, которые были проданы в рабство и оказались в нашей стране
                                </p></div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-5">
                                <p>
                                    Сегодня существует множество музыкальных групп, которые исполняют Кумбию, однако их
                                    исполнение, подчас, весьма далеко от оригинала, к тому же некоторые музыканты
                                    начинают вводить новые инструменты, и потому, на словах превознося Кумбию, на деле
                                    они искажают её.
                                    Первоначально кумбия была только инструментальной, голоса и слова появились позже.
                                    Существует много форм исполнения Кумбии, которые зависят от используемых
                                    инструментов. Некоторые оркестры дали образцы величественного исполнения кумбии, с
                                    пышными нарядами танцоров, с использованием новых инструментов (например, кларнета),
                                    что особенно способствовало популяризации Кумбии за рубежом.

                                </p></div>
                            <div class="col-md-7">
                                <img src="{% static "static/media/media/default/photo/kumbia/кум2.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <div class="row">
                            <div class="col-md-8">
                                <img src="{% static "static/media/media/default/photo/kumbia/кум6.jpg" %}"
                                     class="size-full"
                                     alt=""/>
                            </div>
                            <div class="col-md-4">
                                <p style="margin-top: 110px"><span class="font-weight-bold">Но всё же никакие интерпретации несравнимы с первоначальной, необработанной версией
                                    Кумбии. Нет ничего более тонизирующего и заряжающего положительной энергией, чем
                                    Сumbia.</span></p>
                            </div>
                        </div>
                        <div class="diff-spacer spacer-2" style="background-color:#B35652;color:#B35652;"></div>
                        <h3>
                            Ансамбль танца "Кудринка"
                            бережно хранит основы национальной танцевальной культуры.</h3>
                    </div>
                </article>
            </div>
        </div>
    </div><!-- end content -->
{% endblock %}

