{% extends "update.html" %}
{% block name %} новость{% endblock %}
{% block form %}
    <div class="form-group">
        <h5>Заголовок<span style="color: #BA0000; font-family: Verdana; font-size: 16px; font-weight: bold;"> *</span></h5>
        {{ form.title }}
    </div>
    <div class="form-group">
        <h5>Текст<span style="color: #BA0000; font-family: Verdana; font-size: 16px; font-weight: bold;"> *</span></h5>
        {{ form.text }}
    </div>
    <div class="form-group">
        <h5>Фото</h5>
        {{ form.picture }}
    </div>
    <div class="form-group">
        <h5>Дата<span style="color: #BA0000; font-family: Verdana; font-size: 16px; font-weight: bold;"> *</span></h5>
        {{ form.date }}
    </div>
{% endblock %}